.parent{
    margin-left: 5rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
}
.clinicsDiv{
    display: flex;
    border: 2.2px solid rgb(203, 197, 197);
    background-color: whitesmoke;
    border-radius: 1rem;
    margin-top:  1rem;
    width: 70rem;
    padding: 1rem 2rem;
}
.imgDiv>img{
    width: 17rem;
    margin-top: 0.5rem;
}
.clinicDetails{
    margin-left: 4rem;
}
.spanEle{
    font-size: 1.5rem;
    font-weight: 550;
    color: midnightblue;
    margin-right: 0.5rem;
}
.spanEle2{
    font-size: 1.2rem;
    font-weight: 500;
    color: coral;
    margin-right: 0.5rem;
}